h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
  margin:0;
}
dragHandle{
  cursor: crosshair;
}
hr{
  margin:0;
  width:5px;
  size:150px;
  display:inline;
  /*height:4px;
  background:navy;
  width:25%;
  border:0;*/
}

 /**********Widget**************/
.widgetOutline{
  padding:0;
  margin:0;
  border:0;
  background:none;
}
.activeWidget{
  border: 1px solid #4f99ff;
}
.widgetContainer{
  position: relative;
}
.widgetMenu{
  margin:0;
  padding:.25em;
  border-bottom:0;
  background:white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  list-style-type: none;
  position:absolute;
  top:-2em;
  font-size:.75em;
}
.widgetMenu li{
  display:inline;
  padding:.25em;
  cursor: pointer;
}
.emptyContainer{
  padding:.25em;
  min-height:50px;
}