html{
  font-size:12pt;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
  margin:0;
}
dragHandle{
  cursor: crosshair;
}
hr{
  margin:0;
  width:5px;
  size:150px;
  display:inline;
  /*height:4px;
  background:navy;
  width:25%;
  border:0;*/
}
/*****************************/
.zoom50{
  zoom:75%;
}
.zoom75{
  zoom:75%;
}
 /**********Widget**************/
.widgetOutline{
  padding:0;
  margin:0;
  border:0;
  background:none;
}
.activeWidget{
  border: 1px solid #4f99ff;
}
/**********Display a dotted border if the current item is empty but NOT selected******************/
.emptyContainer:hover{
  border: 1px dotted #4f99ff;
}
.widgetContainer{
  position: relative;
  vertical-align: top;
}
.widgetMenu{
  margin:0;
  padding:.25em;
  border-bottom:0;
  background:white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  list-style-type: none;
  position:absolute;
  top:-5em;
  font-size:.9rem;
  display:flex;
  border:1px solid #CCC;
  font-size:.7rem;
  min-width:250px;
  color:black;
}
.widgetMenu li{
  display:inline;
  padding:.25em;
  cursor: pointer;
}
.downArrow{
  transform: rotateZ(90deg);
}
.widgetMenu ul{
  display:none;
  position:absolute;
  margin:.1em 0;
  background:white;
  border:1px solid #CCC;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top:0;
  font-size:1em;
  min-width:150px;
  padding:0;
}
.widgetMenu li:hover ul{
  display:block;
}
.widgetMenu li li{
  padding:.35em .75em;
  display:list-item;
  list-style-type: none;
}
.widgetMenu li li:hover{
  background: #EFEFEF;
}
.widgetMenu .colorPicker input{
 width:1.5rem;
 height:1.5rem;
 border:1px solid #CCC;
 border-radius: 5px;
 cursor:pointer;
}