.searchOptions{
    padding:0;
    margin:0;
    list-style-type: none;
}
.searchOptions .btn-group li{
    padding:.5rem;
    cursor:pointer;
}
.searchOptions .btn-group li:hover{
    background:#EFEFEF;
}
.imageSearchBox{
    width:50%;
    margin-left: 2em;
}
.searchOptions img{
    max-height:25px;
}
.imageResults, .videoResults{
    margin:0;
    padding:0;
    list-style-type: none;
    height:75%;
    overflow-y: scroll;
}
.card{
    display:inline-block;
    margin:0 1em 1em 0;
    cursor:pointer;
} 
.imageResults .card{
    width:150px;
    height:200px;
}
.imageResults .card img{
    max-width:150px;
    max-height:150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.imageResults .card .description{
    font-size:1rem;
    color:#666;
    border:1px solid #CCC;
    border-top:0;
    padding:.5em;
}
.videoResults .card video, .videoResults .card{
    width:295px;
    height:166px;
}
.videoResults .card img{
    max-width:300px;
    max-height:200px;
}