<sm-modal title="Choose Video" #videoChooser>
    <modal-content>
        <image-chooser (mediaChosen)="videoChooser.hide()" [searchType]="'video'"></image-chooser>
    </modal-content>
    <modal-actions>
        <div class="ui buttons">
            <div class="ui button primary" (click)="videoChooser.hide()">Close modal</div>
        </div>
    </modal-actions>
</sm-modal>
<sm-modal title="Choose an Image" #imageChooser>
    <modal-content>
        <image-chooser (mediaChosen)="imageChooser.hide()" [searchType]="'image'"></image-chooser>
    </modal-content>
    <modal-actions>
        <div class="ui buttons">
            <div class="ui button primary" (click)="imageChooser.hide()">Close modal</div>
        </div>
    </modal-actions>
</sm-modal>
<div class="designer" [class.nobackground]="!video && !image">
    <div class="mainVenu">
        <!-- Disable the page navigation fow now. it may be re-activated once it's functioning' -->
        <!--<div class="pageNav">adfadf</div>-->
        <designer-tools (changeBkgEmitter)="changeBackground($event)"></designer-tools>
         <div class="pasteboard" *ngFor="let page of pageList">
             <ng-container *ngIf="video">
                <video [ngStyle]="{'background': getVideoBackgroundPath()}" designerDraggable data-widgetConfig='{"type":"video"}' autoplay loop>  
                    <source src="{{video.mediumLink.url}}"  type="video/mp4">
                    <source src="{{video.mediumLink.url}}"  type="video/ogg">
                    Your browser does not support the video tag.
                </video>
             </ng-container>
            
            <template #container></template>
            <designer-page (childModified)="childModified($event);"></designer-page>
        </div>
    </div>
    <div class="footer">
        Copyright 2016
    </div>
</div>