.tools{
    display:none;
}
@media screen and (min-width: 768px){
    .tools{
        position:absolute;
        display:flex;
        margin-left:1em;
        left:0;
        transition: left 1s linear;
        z-index: 100;
    }
}
.basicTools{
    margin:0;
    padding:0;
}
.basicTools li::first-child{
    margin-top:0;
    padding-top: 0;
}
ul{
    list-style-type:none;
}
li{
    margin:.5em 0;
    padding:.5em;
    font-size:10pt;
    text-align: center;
    background: white;
    cursor:move;
}
.basicTools li{
    border-radius: 1.5em;
    border:1px solid #CCC;
}
li:hover{
    cursor:pointer;
}
.toolSelection{
    background:white;
    border-radius: .25em;
    border:1px solid #CCC;
    padding:0;
    max-width:210px;
    margin:.5em 0 0 1em;
    max-height: 90%;
}
.closeButton{
    text-align: right;
    font-size:9pt;
    padding:.25em .25em 0 0;
}
.closeButton span{
    cursor:pointer;
}