<ul>
    <li>
        <div class="btn-group" dropdown keyboardNav="true">
            <button id="borderSelection" type="button" class="btn btn-primary" dropdownToggle>
                Style<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="borderSelection">
                <li role="menuitem" *ngFor="let item of borderTypes" (click)="setStyleProperty('borderStyle', item.value)">{{item.value}}</li>
            </ul>
        </div>
    </li>
    <li>
        <input title="Border Size" [(ngModel)]="style.borderWidth" (input)="setStyleProperty('borderWidth', $event.target.value)" min="0" size="1" maxlength="3" value="{{style.borderWidth}}" type="number" class="borderInput"
         />
    </li>
    <li>
        <input title="Border Color" [colorPicker]="style.borderColor" (colorPickerChange)="setStyleProperty('borderColor', $event)" class="colorPicker borderInput" [cpFireOnInit]="false" [style.background]="style.borderColor"/>
    </li>
    <li>
        <input title="Border Radius" [(ngModel)]="style.borderRadius" (input)="setStyleProperty('borderRadius', $event.target.value+'px')" min="0" size="1" maxlength="3" value="{{style.borderRadius}}" type="number" class="borderInput" />
    </li>
</ul>