<ul>
    <li title="Font" *ngIf="showFamily">
        <div class="btn-group" dropdown keyboardNav="true">
            <button id="fontFamily" type="button" class="btn btn-primary" dropdownToggle>
                Font <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="fontFamily">
                <li *ngFor="let item of fontList" value="{{item.value}}" (click)="setStyleProperty('fontFamily', item.value)">{{item.label}}</li>
            </ul>
        </div>
    </li>
    <li title="Adjust Font Size" *ngIf="showSize">
        <div class="btn-group" dropdown keyboardNav="true">
            <button id="fontSize" type="button" class="btn btn-primary" dropdownToggle>
                Size <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="fontSize">
                <li *ngFor="let item of sizeList" (click)="setStyleProperty('fontSize', item)">{{item}}</li>
            </ul>
        </div>
    </li>
    <li title="Text Color" class="colorPicker" *ngIf="showColor">
        <input [colorPicker]="style.color" (colorPickerChange)="setStyleProperty('color', $event)"
               [ngStyle]="{'color': style.color}" [cpFireOnInit]="false" [style.background]="color"/>
    </li>
</ul>