<div class="widgetContainer" [class.activeWidget]="isSelected">
<!-- a box is a container that should adjust according to it's contents. therefore, resize has been disabled for now.
resizeHandle [enableResize]="isSelected" resizeContain (resizeDone)="handleResize($event)"-->
    <!--<designer-resizeHandles *ngIf="isSelected"></designer-resizeHandles>-->
    <ul *ngIf="isSelected" class="widgetMenu">
        <li title="Background Color" class="colorPicker">
            <input [colorPicker]="style.backgroundColor" (colorPickerChange)="setStyleProperty('backgroundColor', $event)"
            [ngStyle]="{'backgroundColor': style.backgroundColor}"/>
        </li>
        <li>
            <border-selection (styleChanged)="setMulStyleProperties($event)"></border-selection>
        </li>   
        <li (click)="removeSelf($event)">&#x2716;</li>
        <li (click)="setStyleProperty($event)">&#x2753;</li>
    </ul>
    <div [class.emptyContainer]="!children.length"
         designerDroppable designerDraggable (widgetAdded)="childModified($event)"
         (parentActionReq)="removeChild($event)" [ngStyle]="style">
        <template #childCont></template>
    </div>
</div>