:host{
    display:inline;
}
.emptyContainer{
    min-height:5rem;
    min-width:10rem;
}
.formContainer{
    padding:1em;
}
.formContainer{
    display:flex;
    flex-direction: row;
}
.devContainer{
    display:flex;
    flex-direction: row;
}
.devContainer div{
    flex-grow: 10;
}
.widgetContainer{
    display:inline-block;
}
.widgetContainer .questionModifier{
    flex-grow: 1;
    background: #EFEFEF;
    padding: 1em;
    font-size: .8rem;
    border-radius: 5px;
    border: 1px solid #CCC;
    flex-grow: 1;
}
.removeModel{
    text-align: center;
    font-size: inherit;
    font-weight:normal;
}
.removeModel span{
    cursor:pointer;
}
.instructions{
    color:#999;
    font-weight:normal;
    font-size:.8rem;
}
.curControlType{
    text-transform: capitalize;
}