<div class="widgetContainer" [class.activeWidget]="isSelected">
<!-- a box is a container that should adjust according to it's contents. therefore, resize has been disabled for now.
resizeHandle [enableResize]="isSelected" resizeContain (resizeDone)="handleResize($event)"-->
    <!--<designer-resizeHandles *ngIf="isSelected"></designer-resizeHandles>-->
    <ul *ngIf="isSelected" class="widgetMenu">
        <li title="Background Color" class="colorPicker">
            <input [colorPicker]="color" (colorPickerChange)="setStyleProperty('backgroundColor', $event)" 
            [style.background]="color" [cpFireOnInit]="false" [ngStyle]="{'backgroundColor': style.backgroundColor}"/>
        </li>
        <li>
            <border-selection (borderChanged)="setStyleProperty('border', $event)" (borderRadiusChanged)="setStyleProperty('borderRadius', $event)"></border-selection>
        </li>   
        <li (click)="removeSelf($event)">&#x2716;</li>
        <li (click)="setStyleProperty($event)">&#x2753;</li>
    </ul>
    <div [class.emptyContainer]="!children.length"
         designerDroppable designerDraggable data-widgetType='box' (widgetAdded)="childModified($event)"
         (parentActionReq)="removeChild($event)" data-widgetConfig='{"type":"box"}'
         [ngStyle]="style">
        <template #childCont></template>
    </div>
</div>