<div class="widgetContainer" [class.emptyContainer]="!hasImage()" [class.activeWidget]="isSelected==true"
resizeHandle [enableResize]="isSelected" (resizeDone)="handleResize($event)">
    <designer-resizeHandles *ngIf="isSelected"></designer-resizeHandles>
    <ul *ngIf="isSelected" class="widgetMenu">
        <li>
            <button class="mini ui button green" (click)="launchImageChooser()">Change</button>
        </li>
        <li>
            <border-selection (borderChanged)="setStyleProperty('border', $event)" (borderRadiusChanged)="setStyleProperty('borderRadius', $event)"></border-selection>
        </li>
        <li (click)="removeSelf($event)">&#x2716;</li>
        <li>&#x2753;</li>
    </ul>
    <img designerDraggable data-widgetConfig='{"type":"image"}' [ngStyle]="style" src="{{imgPath}}"/>
</div>
