<div designerDraggable  class="widgetContainer" [class.emptyContainer]="!dataBuilerConfig" [class.activeWidget]="isSelected"
     resizeHandle [enableResize]="isSelected" (resizeDone)="handleResize($event)" [ngStyle]="style">
    <designer-resizeHandles *ngIf="isSelected"></designer-resizeHandles>
    <ul *ngIf="isSelected" class="widgetMenu">
        <li title="Font">
            <textstyle-selection (styleChanged)="setMulStyleProperties($event)"></textstyle-selection>
        </li>
        <li title="Background Color" class="colorPicker">
            <input [colorPicker]="color" (colorPickerChange)="setStyleProperty('backgroundColor', $event)"
                   [style.background]="color" [cpFireOnInit]="false" [ngStyle]="{'backgroundColor': style.backgroundColor}"/>
        </li>
        <li>
            <border-selection (styleChanged)="setMulStyleProperties($event)"></border-selection>
        </li>
        <li (click)="removeSelf($event)">&#x2716;</li>
        <li>&#x2753;</li>
    </ul>
    <ng-container *ngIf="isSelected">
        <div>
            <a sm-item (click)="toggleSettings()"><md-icon>settings</md-icon></a>
            <a *ngIf="restConfig" sm-item><md-icon>delete</md-icon></a>
        </div>
        <dataviewbuilder *ngIf="dispBuilderConfig" [builderConfig]="dataBuilerConfig" (dataViewFinished)="displayData($event)"></dataviewbuilder>
    </ng-container>
    <data-grid *ngIf="dataList" [data]="dataList"></data-grid>
</div>
