<div class="widgetContainer" [class.activeWidget]="isSelected==true" [class.emptyContainer]="!content"
resizeHandle [enableResize]="isSelected" resizeContain (resizeDone)="handleResize($event)" >
    <designer-resizeHandles *ngIf="isSelected==true"></designer-resizeHandles>
    <!--<ng-container *ngIf="isSelected==true"> 
        <sm-menu class="inverted grey">
            <div sm-item>
                <border-selection (borderChanged)="setBorderStyle($event)"></border-selection>
            </div>
            <div sm-item>
                <input [colorPicker]="color" (colorPickerChange)="setBackgroundColor($event)" 
                    [style.background]="color" [value]="color"/>
            </div>
        </sm-menu>  
    </ng-container>-->
    <ul  class="widgetMenu" *ngIf="isSelected==true">
        <li title="Font">
            <sm-select (onChange)="setStyleProperty('fontFamily', $event)" placeholder="Font..." class=" search">
                <option *ngFor="let item of fontList" value="{{item.value}}">{{item.label}}</option>
            </sm-select>
        </li>
        <li title="Adjust Font Size">
            <sm-select (onChange)="setStyleProperty('fontSize', $event)" placeholder="Size..." class="fluid search">
                <option *ngFor="let item of fontSizeList">{{item}}</option>
            </sm-select>
        </li>
        <li title="Text Color" class="colorPicker">
            <input [colorPicker]="color" (colorPickerChange)="setStyleProperty('color', $event)"
                   [ngStyle]="{'color': style.color}" [cpFireOnInit]="false" [style.background]="color"/>
        </li>
        <li title="Background Color" class="colorPicker">
            <input [colorPicker]="color" (colorPickerChange)="setStyleProperty('backgroundColor', $event)" 
            [style.background]="color" [cpFireOnInit]="false" [ngStyle]="{'backgroundColor': style.backgroundColor}"/>
        </li>
        <li>
            <border-selection (borderChanged)="setStyleProperty('border', $event)" (borderRadiusChanged)="setStyleProperty('borderRadius', $event)"></border-selection>
        </li>
        <li (click)="removeSelf($event)">&#x2716;</li>
        <li>&#x2753;</li>
    </ul>
    <div contenteditable="true" designerDraggable data-widgetType='textbox' 
        data-widgetConfig='{"type":"textbox"}'
         [ngStyle]="style" (input)="updateContent($event)">
        <template #container></template>
    </div>
</div>