<div class="widgetContainer" [class.activeWidget]="isSelected" [class.emptyContainer]="!content"
resizeHandle [enableResize]="isSelected" resizeContain (resizeDone)="handleResize($event)" >
    <designer-resizeHandles *ngIf="isSelected"></designer-resizeHandles>
    <ul  class="widgetMenu" *ngIf="isSelected">
        <li title="Font">
            <textstyle-selection (styleChanged)="setMulStyleProperties($event)"></textstyle-selection>
        </li>
        <li title="Background Color" class="colorPicker">
            <input [colorPicker]="color" (colorPickerChange)="setStyleProperty('backgroundColor', $event)" 
            [style.background]="color" [cpFireOnInit]="false" [ngStyle]="{'backgroundColor': style.backgroundColor}"/>
        </li>
        <li>
            <border-selection (borderChanged)="setStyleProperty('border', $event)" (borderRadiusChanged)="setStyleProperty('borderRadius', $event)"></border-selection>
        </li>
        <li (click)="removeSelf($event)">&#x2716;</li>
        <li>&#x2753;</li>
    </ul>
    <div contenteditable="true" designerDraggable data-widgetType='textbox'
        data-widgetConfig='{"type":"textbox"}' (input)="updateContent($event)"
         [ngStyle]="style">
        <template #container></template>
    </div>
</div>