<div class="widgetContainer" [class.emptyContainer]="imgPath" [class.activeWidget]="isSelected"
resizeHandle [enableResize]="isSelected" (resizeDone)="handleResize($event)"
[ngStyle]="{'height':style.height,'width':style.width}" [class.emptyContainer]="isEmpty()">
    <designer-resizeHandles *ngIf="isSelected"></designer-resizeHandles>
    <ul *ngIf="isSelected" class="widgetMenu">
        <li>
            <button class="mini ui button green" (click)="launchImageChooser()">Change</button>
        </li>
        <li title="Background Color" class="colorPicker">
            <input [colorPicker]="color" (colorPickerChange)="setBackgroundColor($event)" 
            [style.background]="color" [cpFireOnInit]="false" [ngStyle]="{'backgroundColor': style.backgroundColor}"/>
        </li>
        <li title="Text Color" class="colorPicker">
            <input [colorPicker]="color" (colorPickerChange)="setStyleProperty('color', $event)" 
            [ngStyle]="{'color': style.color}" [cpFireOnInit]="false" [cpFireOnInit]="false" [style.background]="color"/>
        </li>
        <li>
            <border-selection (styleChanged)="setMulStyleProperties($event)"></border-selection>
        </li>
        <li (click)="removeSelf($event)">&#x2716;</li>
        <li>&#x2753;</li>
    </ul>
    <div *ngIf="isSelected==true">
        <a (click)="addQuestion()" title="Add Field"><md-icon>add_circle</md-icon></a>
        <a *ngIf="questions && questions.length"><md-icon>delete</md-icon>Delete all</a>
    </div>
    <div class="devContainer">
        <div class="ui form formContainer" [ngStyle]="style">
            <dynamic-form *ngIf="questions && questions.length" (actionRequested)="handleDynaCompAction($event)" [questions]="questions"></dynamic-form>
        </div>
        <div class="questionModifier ui form" *ngIf="enableQuestionProperties()">
            <form #questionForm="ngForm" (ngSubmit)="saveQuestionChanges()">
                <input type="hidden" name="index"/>
                <div class="form-group">
                    <div class="curControlType" *ngIf="curModel">
                        <i class="lock icon"></i>{{curModel.controlType}}
                    </div>

                    <div class="btn-group" dropdown keyboardNav="true">
                        <button id="fieldType" type="button" class="btn btn-primary" dropdownToggle>
                            Type<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="fieldType">
                            <li (click)="changeQuestionType('textbox')">TextBox</li>
                            <li (click)="changeQuestionType('dropdown')">Dropdown</li>
                        </ul>
                    </div>
                </div>
                <div *ngIf="curModel">
                    <!-- Field Name -->
                    <div class="form-group">
                        <label>Field Name</label>
                        <input (input)="cleanFieldName($event)" [(ngModel)]="curModel.label" minlength="3" maxlength="50" name="label" type="text" placeholder="Field Name..." required #fieldLabel/>
                    </div>
                    <!--TextBoxSpecific specific -->
                    <div class="form-group" *ngIf="curModel.controlType=='textbox'">
                        <label>Placeholder</label>
                        <input [(ngModel)]="curModel.placeholder" maxlength="50" name="placeholder" type="text"/>
                    </div>
                    <!--Dropdown specific -->
                    <div class="form-group" *ngIf="curModel.controlType=='dropdown'">
                        <label>Values</label>
                        <span class="instructions">Comma separated list of values</span><br/>
                        <input type="text" (input)="setOptions($event)" value="{{getOptionsAsString()}}" placeholder="option1, option2,..."/>
                    </div>
                    <!-- Required -->
                    <div class="form-group">
                        <label>Required</label>
                        <input type="checkbox" [(ngModel)]="curModel.required" name="required" #required/>    
                    </div>
                </div>
                <button md-raised-button *ngIf="curModel" [disabled]="!questionForm.form.valid" (click)="saveQuestionChanges()">Done</button>
                <label (click)="removeCurrentModel()" class="md-14"><md-icon>delete</md-icon>remove</label>
            </form>
        </div>
    </div>
</div>