<div class="widgetContainer" [class.activeWidget]="isSelected" [class.emptyContainer]="!video"
resizeHandle [enableResize]="isSelected" (resizeDone)="handleResize($event)"
[ngStyle]="style">
    <designer-resizeHandles *ngIf="isSelected"></designer-resizeHandles>
    <ul *ngIf="isSelected" class="widgetMenu">
        <li>
            <button class="mini ui button green" (click)="launchVideoChooser()" md-raised-button color="primary">Change</button>
        </li>
        <li title="Background Color" class="colorPicker">
            <input [colorPicker]="style.backgroundColor" (colorPickerChange)="setBackgroundColor($event)"
                   [cpFallbackColor]="'rgba(0,0,0,0)'" [ngStyle]="{'backgroundColor': style.backgroundColor}"/>
        </li>
        <li>
            <border-selection (styleChanged)="setMulStyleProperties($event)"></border-selection>
        </li>
        <li *ngIf="video" class=".zoom75">
            <button (click)="vid.play()" md-icon-button ><md-icon>play_arrow</md-icon></button>
        </li>
        <li *ngIf="video" class=".zoom75">
            <button (click)="vid.pause()" md-icon-button><md-icon>pause</md-icon></button>
        </li>
        <li (click)="removeSelf($event)">&#x2716;</li>
        <li>&#x2753;</li>
    </ul>
    <video #vid [ngStyle]="{'width':'100%'}" designerDraggable data-widgetConfig='{"type":"video"}'>
        <source *ngIf="video" src="{{video.smallLink.url}}"  type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
