<div designerDraggable  class="widgetContainer" [class.emptyContainer]="!hasImage()" [class.activeWidget]="isSelected==true"
resizeHandle [enableResize]="isSelected" (resizeDone)="handleResize($event)" [ngStyle]="style">
    <designer-resizeHandles *ngIf="isSelected"></designer-resizeHandles>
    <ul *ngIf="isSelected" class="widgetMenu">
        <li>
            <button md-button class="mini ui button green" (click)="launchImageChooser()"><md-icon>image</md-icon></button>
        </li>
        <li>
            <border-selection (styleChanged)="setMulStyleProperties($event)"></border-selection>
        </li>
        <li (click)="removeSelf($event)">&#x2716;</li>
        <li>&#x2753;</li>
    </ul>
    <img data-widgetConfig='{"type":"image"}' src="{{imgPath}}"/>
</div>
