<div *ngIf="form != null">
  <form (ngSubmit)="handleSubmit()" [formGroup]="form">
    <div *ngFor="let question of questions; let i=index;" class="form-row">
      <div class="fieldMenu">
        <md-icon (click)="requestAction(i,'edit')" class="fieldMenuIcon">mode_edit</md-icon>
        <md-icon (click)="requestAction(i,'remove')" class="fieldMenuIcon">cancel</md-icon>
      </div>
      <df-question [question]="question" [form]="form"></df-question>
    </div>
    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </form>
  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
