<div class="imageChooser">
    <ul class="searchOptions">
        <li>
            <sm-dropdown *ngIf="searchType=='image'" title="Image Sources" class="pointing floating labeled icon button">
                <sm-item *ngFor="let item of imageSources" (click)="changeMediaSource(item.value)"><img src="{{item.icon}}"> {{item.name}}</sm-item>
            </sm-dropdown>
            <sm-dropdown *ngIf="searchType=='video'" title="Image Sources" class="pointing floating labeled icon button">
                <sm-item *ngFor="let item of videoSources" (click)="changeMediaSource(item.value)"><img src="{{item.icon}}"> {{item.name}}</sm-item>
            </sm-dropdown>
        </li>
        <li class="imageSearchBox">
            <sm-search placeholder="Search..." (onSearch)="performSearch($event)" [icon]="true" class="fluid" [debounce]="500"></sm-search>
        </li>
    </ul>
    <div class="resultPanel">
        <h3 *ngIf="searchTerm!=''">Search for "{{searchTerm}}"</h3>
        <!-- Image result Display -->
        <ul class="imageResults" *ngIf="searchType=='image'">
            <li class="card" *ngFor="let image of imageList; let i=index;" (click)="mediaSelected(i)" title="{{image.name}}">
                <img src="{{image.lowResLink}}">
                <div class="description">{{image.name}}</div>
            </li>
        </ul>
        <!-- Video result Display -->
        <ul class="videoResults" *ngIf="searchType=='video'">
            <li class="card" *ngFor="let video of videoList; let i=index;" (click)="mediaSelected(i)">
                <!--<img src="{{video.thumbnailLink}}">-->
                <video width="300px" height="200px" (mouseover)="toggleVideo(i)" (mouseout)="toggleVideo(i)" loop>
                    <source src="{{video.smallLink.url}}" type="video/mp4">
                    <source src="{{video.smallLink.url}}" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </li>
        </ul>
    </div>
</div>