<div class="widgetContainer" [class.emptyContainer]="imgPath" [class.activeWidget]="isSelected==true" 
resizeHandle [enableResize]="isSelected" (resizeDone)="handleResize($event)"
[ngStyle]="{'height':getHeight(true),'width':getWidth(true)}">
    <designer-resizeHandles *ngIf="isSelected==true"></designer-resizeHandles>
    <ul *ngIf="isSelected==true" class="widgetMenu">
        <li>
            <button class="mini ui button green" (click)="launchImageChooser()"><i class="image icon"></i> Change Picture</button>
        </li>
        <li (click)="removeSelf($event)">&#x2716;</li>
        <li>&#x2753;</li>
    </ul>
    <img designerDraggable data-widgetConfig='{"type":"image"}' src="{{imgPath}}"/>
</div>
