<div class="widgetContainer" [class.activeWidget]="isSelected==true" 
resizeHandle [enableResize]="isSelected" (resizeDone)="handleResize($event)"
[ngStyle]="{'height':getHeight(true),'width':getWidth(true)}">
    <designer-resizeHandles *ngIf="isSelected==true"></designer-resizeHandles>
    <ul *ngIf="isSelected==true" class="widgetMenu">
        <li>
            <button class="mini ui button green" (click)="launchVideoChooser()"><i class="image icon"></i>Choose Video</button>
        </li>
        <li title="Background Color" class="colorPicker">
            <input [colorPicker]="color" (colorPickerChange)="setBackgroundColor($event)" 
            [style.background]="color" [ngStyle]="{'backgroundColor': style.backgroundColor}"/>
        </li>
        <li>
            <border-selection (borderChanged)="setBorderStyle($event)"></border-selection>
        </li>
        <li *ngIf="video" class=".zoom75">
            <sm-button class="" icon="play" (click)="play(this)"></sm-button>
        </li>
        <li *ngIf="video" class=".zoom75">
            <sm-button class="" icon="pause" (click)="pause(this)"></sm-button>   
        </li>
        <li (click)="removeSelf($event)">&#x2716;</li>
        <li>&#x2753;</li>
    </ul>
    <ng-container #videoContainer *ngIf="video">    
        <video [ngStyle]="{'height':height+'px', 'width':width+'px'}" designerDraggable data-widgetConfig='{"type":"video"}' controls>  
            <source src="{{video.smallLink.url}}"  type="video/mp4">
            <source src="{{video.smallLink.url}}"  type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </ng-container>
</div>
