<div class="widgetContainer" [class.activeWidget]="isSelected==true" 
resizeHandle [enableResize]="isSelected" resizeContain (resizeDone)="handleResize($event)">
    <designer-resizeHandles *ngIf="isSelected==true"></designer-resizeHandles>       
    <ul *ngIf="isSelected==true" class="widgetMenu">
        <li title="Background Color" class="colorPicker">
            <input [colorPicker]="color" (colorPickerChange)="setStyleProperty('backgroundColor', $event)" 
            [style.background]="color" [cpFireOnInit]="false" [ngStyle]="{'backgroundColor': style.backgroundColor}"/>
        </li>
        <li>
            <border-selection (borderChanged)="setStyleProperty('border', $event)" (borderRadiusChanged)="setStyleProperty('borderRadius', $event)"></border-selection>
        </li>   
        <li (click)="removeSelf($event)">&#x2716;</li>
        <li (click)="setStyleProperty($event)">&#x2753;</li>
    </ul>
    <div [class.emptyContainer]="children.length==0"
         designerDroppable designerDraggable data-widgetType='box' (widgetAdded)="childModified($event)" 
         (parentActionReq)="removeChild($event)" data-widgetConfig='{"type":"box"}'
         [ngStyle]="style">
        <template #container></template>
    </div>
</div>