.formContainer{
    padding:1em;
}
.formContainer{
    display:flex;
    flex-direction: row;
}
.devContainer{
    display:flex;
    flex-direction: row;
}
.devContainer div{
    flex-grow: 10;
}
.widgetContainer .questionModifier{
    flex-grow: 1;
    background: #EFEFEF;
    padding: 1em;
    font-size: 10pt;
    border-radius: 5px;
    border: 1px solid #CCC;
    flex-grow: 1;
}
.removeModel{
    text-align: center;
    font-size: inherit;
    font-weight:normal;
}
.removeModel span{
    cursor:pointer;
}
.instructions{
    color:#999;
    font-weight:normal;
    font-size:10pt;
}
.form-group label{
    display:block;
    padding: .5em 0;
    color:#666;
    font-weight:bold;
}
.curControlType{
    text-transform: capitalize;
}