<div [class.activeWidget]="isSelected==true">
    <ul *ngIf="isSelected==true" class="widgetMenu">
        <li (click)="removeSelf($event)">&#x2716;</li>
        <li>&#2753;</li>
    </ul>
    <div designerDroppable designerDraggable data-widgetType='textbox' [widgetType]='textbox' (widgetAdded)="childModified($event)" data-widgetConfig='{"type":"textbox"}'>
        <template #container></template>
        <designer-TextWidget *ngFor="let widget of childWidgets" ></designer-TextWidget>
    </div>
</div>