.nobackground{
    background:#EFEFEF;
}
* {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;  
}
.designer .header, .designer .menu{
    display:none;
}
@media screen and (min-width: 768px){
    .designer .header, .designer .menu{
        display:block;
        background:red;
    }   
}
@media screen and (min-width: 1600px){
    .designer .header, .designer .menu{
        display:block;
        background:orange;
    }   
}
.mainVenu{
    display:flex;
    flex-direction:column;
}
.mainVenu > div{
    flex:1;
}
.designer .pageNav{
    display:none;
}
@media screen and (min-width: 768px){
    .designer .pageNav{
        display:block;
        border-right:1px solid #CCC;
        flex: 1 1 10%;
        height:auto;
        font-size:.7rem;
    }   
}
.designer .pasteboard{
    border-bottom:1px dashed #CCC;
    padding:1rem 0;
}
.designer .pasteboard:last-child{
    border:0;
}
.designer .pasteboard video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.properties{
    flex:1 1 10%;
}
.footer{
    border-top:1px solid #CCC;
    font-size:.7rem;
    padding:.25em;
}