<media-chooser #imageChooser (mediaChosen)="imageChooser.hide()" [mode]="'modal'" [searchType]="'image'"></media-chooser>
<media-chooser #videoChooser (mediaChosen)="videoChooser.hide()" [mode]="'modal'" [searchType]="'video'"></media-chooser>

<div class="designer">
    <div class="mainVenu">
        <!-- Disable the page navigation fow now. it may be re-activated once it's functioning' -->
        <!--<div class="pageNav">adfadf</div>-->
        <designer-tools (changeBkgEmitter)="changeBackground($event)"></designer-tools>
         <div class="pasteboard" *ngFor="let page of pageList; let i = index;">
             <ul class="secondaryMenu">
                 <li (click)="saveConfig()"><md-icon>save</md-icon> Save</li>
                 <li (click)="addPage()"><md-icon>add circle</md-icon> Page</li>
                 <li (click)="deletePage(i)"><md-icon>delete</md-icon> Delete Page</li>
             </ul>

            <template #container></template>
            <designer-page designerDroppable [widgetConfig]="page"></designer-page>
        </div>
    </div>
    <div class="footer">
        Copyright 2016
    </div>
</div>