<sm-modal title="Choose Video" #videoChooser>
    <modal-content>
        <image-chooser (mediaChosen)="videoChooser.hide()" [searchType]="'video'"></image-chooser>
    </modal-content>
    <modal-actions>
        <div class="ui buttons">
            <div class="ui button primary" (click)="videoChooser.hide()">Close modal</div>
        </div>
    </modal-actions>
</sm-modal>
<sm-modal title="Choose an Image" #imageChooser>
    <modal-content>
        <image-chooser (mediaChosen)="imageChooser.hide()" [searchType]="'image'"></image-chooser>
    </modal-content>
    <modal-actions>
        <div class="ui buttons">
            <div class="ui button primary" (click)="imageChooser.hide()">Close modal</div>
        </div>
    </modal-actions>
</sm-modal>
<div class="designer">
    <div class="mainVenu">
        <!-- Disable the page navigation fow now. it may be re-activated once it's functioning' -->
        <!--<div class="pageNav">adfadf</div>-->
        <designer-tools (changeBkgEmitter)="changeBackground($event)"></designer-tools>
        <ul class="secondaryMenu">
            <li (click)="saveConfig()"><i class="cloud upload icon"></i> Save</li>
            <li (click)="addPage()"><i class="add circle icon"></i> Page</li>
        </ul>
         <div class="pasteboard" *ngFor="let page of pageList; let i = index;">

            <template #container></template>
            <designer-page designerDroppable [widgetConfig]="page"></designer-page>
        </div>
    </div>
    <div class="footer">
        Copyright 2016
    </div>
</div>