<div class="tools">
    <ul class="basicTools">
        <li *ngFor="let item of menuJSON" (click)="setActiveToolSelection(item.value)">
            {{item.label}}<span *ngIf="item.isActive" class="statusIndicator">&#x2713;</span>
        </li>
    </ul>
    <ng-container *ngFor="let item of menuJSON">
         <template [ngIf]="activeToolSelection==item.value">
             <div class="toolSelection">
                <div class="closeButton"><span (click)="setActiveToolSelection(null)">&#x274C;</span></div>
                <designer-tools-menu [configJson]="item" [isRoot]="true"></designer-tools-menu>
             </div>
         </template>
    </ng-container>
    
</div>