:host{
    padding:1em;
}
.dataProviderList{
    padding:.5em;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.dataProviderList > div{
    border:1px solid #CCC;
    border-radius: 5px;
    padding:.5em;
    cursor:pointer;
    margin:0 .5rem .5rem 0;
}
.dataProviderList > div:hover{
    border-color:#369;
}
.dataProviderList > div:last-child{
    margin-right:0;
}
h1{
    font-size:.9rem;
    margin:0;
    padding:.5rem;
}
.dataProviderList label{
    font-weight: bold;
    font-size:.9rem;
}
.description{
    font-size: .8rem;
    color:#607D8B;
}