.cwFormBuilder{
    margin-bottom:1em;
}
.cwFormBuilder label{
    font-weight:bold;
}
.cwFormBuilder input,
.cwFormBuilder select
 {
    border:0;
    border-radius: 0;
    border-bottom: 2px solid;
    border-color: inherit;
    background:none;
    color:inherit;
}
.cwFormBuilder input:focus,
.cwFormBuilder select:focus{
    background:none;
    border-radius: 0;
    border-bottom: 2px solid;
    border-color: inherit;
    color:inherit;
}
